:root{
    --clr1: #c58852;
    --clr2: darkslategray;
    --clr3: #333d3f;
}
html {
    background: var(--clr1);
}

body {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    color: var(--clr2);
    font-size: 20px;

}

header {
    background-image: url("/images/Potatoes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--clr2);
    padding: 50px 150px;
    margin: 10px 0px;
    border-radius: 0.5rem;

}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #333d3f;
    border-radius: 0.5rem


}

nav ul {}

nav a:not(:first-child) {
    border-left: 1px solid var(--clr1);
}

nav a {
    color: var(--clr1);
    text-decoration: none;
    width: 16.6%;
    text-align: center;
}
nav a:hover{
    color: var(--clr2);
}

.sidebar {
    width: 25%;
}

.sidebar h2,
p {
    margin: 35px;
}

.mainbar {
    width: 75%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.flexed {
    display: flex;
    flex-wrap: wrap;
}
.blabla{
    text-align: justify;
}
.half {
    width: 50%;
    text-align: justify;
}

.brdr-left {
    box-shadow: -5px 0px 0px -1px var(--clr3);
}

.mainbar h2 {
    margin-left: 35px;
}

.mainbar hr {
    margin-left: 35px;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contact-form textarea {
    width: 100%;
    border-radius: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--clr2);
    color: var(--clr1);
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    margin-top: 20px;
    display: block;
    width: 50%;
    height: 50px;
    border-radius: 1rem;
    background-color: var(--clr2);
    color: var(--clr1);
}

.contact-form .radio {
    width: 100%;
    display: flex;
    margin-bottom: 20px;


}

.button {
    padding: 15px;
    background-color: var(--clr2);
    color: var(--clr1);
}

.contact-form .radio label {
    width: 50%;
}